.img-wrapper {
  position: relative;
}

.banner-img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
   border-radius: 10px;
}
