.gaurd{
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 20;
}
.card{
    width: 400px;
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   z-index: 100;
}
